@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Lịch sử giao dịch</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Người dùng</th>
            <th>Số tiền</th>
            <th>Thời gian</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>TX001</td>
            <td>Nguyễn Văn A</td>
            <td>500.000đ</td>
            <td>12/05/2025</td>
        </tr>
    </tbody>
</table>
 @* mình connect với DB nha  *@